.login-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    
    /* 线性渐变 */
    background: var(--linear-background);
    display: flex;
    
    color: #fff;
}

.login-form{
    margin-top: 80px;
}

.login-form-item{
    height: 54px;
    width: 100%;
    border-radius: 10px;
    background: var(--ant-color-bg-base);

    padding: 11px 0;
    
}

.login-form-button{
    background: #15B987 !important;
    height: 50px;
    border-radius: 20px;
    &:hover{
        // background: #15B987 !important;
        opacity: .8;
    }
}

.bg-component{
    background: #ACB3C93B;
    border-radius: 60px;
}