/node_modules
/.env
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
.swc
.claude/
.foo/
/tmp/
/bg*.txt
IMPLEMENTATION_NOTES.md
src/components/business/IMPLEMENTATION_SUMMARY.ts
src/components/business/PROJECT_REPORT.ts
src/components/business/USAGE_GUIDE.md
/ai-assets
/pptist
.idea/
package-lock.json
