/* ElementColorMask.module.scss */
.row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  width: 50%;
}

.control {
  width: 50%;
}

.switch-wrapper {
  text-align: right;
}
