.font-setting-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 6px;
  border: 1px solid #efedf3;
  height: 34px;
  width: 100%;
}