.heroSection {
    // background: linear-gradient(186.87deg, rgba(242, 248, 252, 0.89), rgba(196, 196, 253, 0.8) 50%, rgba(235, 238, 249, 0.89) 100%);
}

.heroSubTitle {
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 1), rgba(0, 18.58495330810547, 84.47705078125, 1) 100%);
    ;
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
    font-family: Alibaba PuHuiTi;
    font-size: 55px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: -6.5%;
    text-align: left;
}

.heroTextContent {
    color: rgba(87, 112, 188, 1);

    font-family: Alibaba PuHuiTi;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.featureSectionTitle {


    font-family: Alibaba PuHuiTi;
    font-size: 54px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -6%;
    text-align: center;
    margin-bottom: 10px;
}

.featureSectionContent {
    color: rgba(1, 13, 62, 1);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -3.6%;
    text-align: center;
}

.featureItem {
    width: 260px;
    border-radius: 10px;
    box-shadow: 0px 4px 24px 25px rgba(119, 131, 181, 0.12);
    background: rgba(255, 255, 255, 1);
    padding: 58px 18px 46px;
}

.featureItemIcon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.featureItemTitle {


    font-family: Alibaba PuHuiTi;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -3.1%;
    text-align: center;
    margin-top: 18px;
}

.featureItemContent {


    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -1%;
    text-align: left;
    margin-top: 40px;
}

.featureItemLink {
    margin-top: 20px;

}

.linearTitle {
    background: linear-gradient(124.05deg, rgba(171, 6, 238, 1), rgba(7, 28, 199, 0.97) 100%);
    ;
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
    font-family: Alibaba PuHuiTi;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -6%;
    text-align: left;
    height: 80px;
}

