/* ElementCreateSelection.module.scss */
.element-create-selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: crosshair;
}

.element-create-selection svg {
  overflow: visible;
}

.selection {
  position: absolute;
  opacity: 0.8;
}

.selection:not(.line) {
  border: 1px solid $themeColor;
}

.line {}
