/* ChartPool.module.scss */
.chart-pool {
  width: 240px;
  margin-bottom: -5px;
  @include flex-grid-layout();
}

.chart-item {
  @include flex-grid-layout-children(4, 24%);
  height: 0;
  padding-bottom: 25%;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.chart-content {
  @include absolute-0();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999;

  &:hover {
    color: $themeColor;
  }
}

.name {
  margin-top: 4px;
}
