.docxViewerWrapper {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    
  
    .box {
      width: 100%;
      height: 100%;
    }
  
    .textContainer{
     
      max-width: 1300px;
      background: rgba(255, 255, 255, 0.1);
      height: 100%;
      margin: auto;
  
    }
}  